<?xml version="1.0"?>
<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />

      <!-- identity impersonate is the Web.config glue which makes this all possible. -->
      <identity impersonate="true"/>
    
    </system.web>
  
  <!-- Application Settings -->
  <appSettings>
    <add key="adDomain" value="test-domain"/>
    <add key="adUsername" value="svc_serviceaccount"/>
    <add key="adPassword" value="password"/>
  </appSettings>
</configuration>
